/* @font-face {
  font-family:Graphie;
  font-weight:700;
  src:
    url(./fonts/Graphie-Bold.woff2) format("woff2"),
    url(./fonts/Graphie-Bold.woff) format("woff");
  font-style:normal;
}
@font-face {
  font-family:Graphie;
  font-weight:700;
  src:
    url(./fonts/Graphie-BoldItalic.woff2) format("woff2"),
    url(./fonts/Graphie-BoldItalic.woff) format("woff");
  font-style:italic;
}*/