//
// Typography Component
//
// @package     bvbj
// @subpackage  Base
// @author      Very - Engineer Esteban Rocha
// @link        https://verypossible.com
//
// @since       1.0.0
//

// Headings
.tl-1 {
	font: {
		size: 3.125rem;
		weight: 600;
	}
	line-height: 1.1;
}

// 38px
.tl-2 {
	font: {
		size: 2.375rem;
		weight: 700;
	}
	line-height: 1.37;
}

// 22px
.tl-3 {
	font: {
		size: 1.375rem;
		weight: 700;
	}
	line-height: 1.37;
}

// 28px
.tl-4 {
	font: {
		size: 1.75rem;
		weight: 600;
	}
	line-height: 1.37;
}

// 28px Bold
.tl-5 {
	font: {
		size: 1.75rem;
		weight: 700;
	}
	line-height: 1;
}

// Paragraphs
// 18px
.prg-1 {
	font: {
		size: 1.125rem;
		weight: 500;
	}
	line-height: 1.56;
}

// 18px
.prg-2 {
	font: {
		size: 1.125rem;
		weight: 500;
	}
	line-height: 1.45;
}

// 16px
.prg-3 {
	font: {
		size: 1rem;
		weight: 500;
	}
	line-height: 1.45;
}

// 22px
.prg-4 {
	font: {
		size: 1.0625rem;
		weight: 500;
	}
}

// Links
.lnk-1 {
	font: {
		size: 1rem;
		weight: 700;
	}
	letter-spacing: 0.8px;
}
