//
// Base Layout
//
// @package     bvbj
// @subpackage  Mixins
// @author      Very - Andres Posada
// @link        https://verypossible.com
// @since       1.0.0
//

//-----------------------------------------
// Full-width Helper
//-----------------------------------------
.site-main {
	margin: 0 auto;
	width: 100%;

	@include media($phone, $tablet-landscape) {
		margin-top: 0;
	}

	&.acf-content-blocks {
		margin: 0 auto;
	} // &.acf-content-blocks
} // .site-main

//-----------------------------------------
// Bound Container at $container width
//-----------------------------------------
.container {
	margin: 0 auto;
	padding: 0 2.5rem;
	max-width: $max-width;
	position: relative;

	@include media($container-offset) {
		padding: 0;
	}
} // .container
