/*!
Module Name: Nomination form
Author: Very - Andres Posada
*/

section.nominationForm {
	background-color: rgba(207, 207, 216, 0.6);
	color: var(--white);
	text-align: center;
	padding-top: 9.375rem;
	padding-bottom: 3.75rem;

	@include media($phone, 768px) {
		padding-top: 185px;
		padding-bottom: 40px;
	}

	.heading {
		margin-bottom: 1.6875rem;

		@include media($phone, 768px) {
			margin-bottom: 0;
		}

		h1 {
			font-size: 4.5rem;
			font-weight: 400;
			color: var(--background-blue);
			letter-spacing: -0.1125rem;
			line-height: 4.375rem;
			margin-bottom: 1.875rem;

			@include media($phone, 768px) {
				font-size: 2rem;
				letter-spacing: -0.05rem;
				line-height: 2.375rem;
				margin-bottom: 0.625rem;
			}
		}
	}

	.subHeading {
		@include media($phone, 768px) {
			margin-bottom: 46px;
		}

		span {
			font-size: 1.125rem;
			color: var(--main-blue);
			letter-spacing: -0.006875rem;
			line-height: 1.75rem;
		}
	}

	.formContainer {
		max-width: 610px;
		margin: 0 auto;

		.wpcf7-form-control-wrap {
			margin-bottom: 0.625rem;
			display: block;
		}

		label {
			display: inline-block;
			text-align: left;
			font-size: 1rem;
			color: var(--black);
			letter-spacing: 0.00625rem;
			line-height: 1.5rem;
			width: 100%;
		}

		input,
		textarea {
			font-family: "Helvetica LT W01 Roman";
			font-size: 16px;
			color: var(--black);
			letter-spacing: 0.1px;
			line-height: 24px;
			background: #f7f7f7;
			opacity: 1;
			border: none;
			width: 100%;
			margin-bottom: 1px;
		}

		input {
			padding: 0.8125rem 0.9375rem;
		}

		textarea {
			height: 8.4375rem;
			padding: 0.6875rem 1.125rem;
		}

		.radioLabel {
			padding-top: 15px;
			padding-bottom: 10px;
		}

		.contRadio {
			margin-bottom: 50px;

			.wpcf7-radio {
				width: 100%;
				display: flex;
				align-items: flex-start;
				flex-direction: row;
				justify-content: flex-start;

				@include media($phone, 768px) {
					flex-direction: column;
				}
			}

			label {
				position: relative;
				cursor: pointer;
			}

			.wpcf7-list-item {
				width: 45%;
				margin-left: 0;
				text-align: left;

				@include media($phone, 768px) {
					width: 100%;
					margin-bottom: 1.875rem;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.wpcf7-list-item-label {
					padding-left: 36px;

					@include media($phone, 768px) {
						font-size: 0.875rem;
					}
				}

				input[type="radio"],
				.wpcf7-list-item-label {
					display: inline-block;
				}
			}

			input[type="radio"] {
				width: 20px;
				position: absolute;
				z-index: -1;
				opacity: 0;
			}

			.radioIndicator {
				position: absolute;
				top: 0;
				left: 0;
				height: 24px;
				width: 24px;
				background: var(--white);
				border-radius: 50%;
				border: 1px solid var(--light-blue);

				&::after {
					content: "";
					position: absolute;
					display: none;
					width: 14px;
					height: 14px;
					left: 4px;
					top: 4px;
					border-radius: 50%;
					background: var(--light-blue);
				}
			}

			.wpcf7-list-item input:checked ~ .radioIndicator::after {
				display: block;
			}
		}

		.nominee-bio {
			margin-bottom: 5px !important;
		}

		.wpcf7-submit {
			background: var(--dark-blue-btn);
			border-radius: 1.5625rem;
			font-size: 1rem;
			color: var(--white);
			letter-spacing: 0.00625rem;
			text-align: center;
			line-height: 1.5rem;
			width: 12.5rem;
			margin-top: 0.3125rem;
			appearance: none;

			&:hover {
				cursor: pointer;
			}
		}

		input::placeholder {
			font-family: "Helvetica LT W01 Roman";
			font-size: 1rem;
			color: var(--black);
			opacity: 0.5;
			letter-spacing: 0.00625rem;
			line-height: 1.5rem;
		}

		.wpcf7-not-valid-tip {
			color: #ff0000;
		}

		form {
			&.failed,
			&.aborted,
			&.invalid,
			&.unaccepted {
				.wpcf7-response-output {
					color: #ff0000;
					border: none;
				}
			}

			&.sent {
				display: none;
			}
		}
	}
}
