/*!
Module Name: Our Recipients
Author: Very - Andres Posada
*/

section.ourRecipients {
	background-color: var(--background-blue);
	padding-top: 4.375rem;
	padding-bottom: 5.75rem;

	@include media($phone, 768px) {
		padding-bottom: 4.875rem;
	}

	.ourRecipients__container {
		max-width: 62.5rem;
		position: relative;
		margin: 0 auto;

		@include media(1024px) {
			padding: 0 1.25rem;
		}

		@include media($phone, 1023px) {
			width: 100%;
			max-width: 100%;
		}

		.slick-slide > div {
			text-align: center;

			@include media($phone, 1023px) {
				margin: 0 0.3125rem;
			}
		}
	}

	.heading {
		margin-bottom: 2.625rem;

		h2 {
			font-family: "Red Rose", cursive;
			font-size: 1.125rem;
			color: var(--white);
			letter-spacing: 0.125rem;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.recipient {
		width: 9.0625rem;
		max-width: 9.0625rem;

		@include media($phone, 1023px) {
			width: initial;
			max-width: initial;
		}

		img {
			max-width: 100%;
			width: 100%;
		}

		h3,
		span {
			font-family: "helveticaregular";
			font-size: 1rem;
			color: var(--light-grey);
			letter-spacing: 0.01rem;
			margin-bottom: 0.3125rem;
			text-align: center;
		}

		span {
			font-style: italic;
		}

		.learnMore {
			font-size: 1.125rem;
			color: var(--light-blue);
			letter-spacing: 0.010625rem;
			text-align: center;
			margin-top: 0.625rem;
			text-decoration: underline;

			@include media(1024px) {
				display: none;
			}
		}
	}

	.slick-dots {
		bottom: -3.125rem;

		li {
			width: 0.9375rem;
			height: 0.9375rem;
			margin: 0;

			button {
				width: 0.9375rem;
				height: 0.9375rem;
				padding: 0.625rem;

				&::before {
					color: var(--white);
				}
			}

			&.slick-active {
				button::before {
					opacity: 1;
					color: var(--white);
				}
			}
		}
	}

	.slick-next {
		background: url("../assets/images/fw.png") no-repeat center center transparent;
		background-size: 1.0625rem 2.0625rem;
		width: 1.0625rem;
		height: 2.0625rem;

		&::before {
			content: "";
		}
	}

	.slick-prev {
		background: url("../assets/images/bw.png") no-repeat center center transparent;
		background-size: 1.0625rem 2.0625rem;
		width: 1.0626rem;
		height: 2.0626rem;

		&::before {
			content: "";
		}
	}
}

.modalAbv {
	&.-fullHeight {
		.text__inner {
			width: 69% !important;

			@include media($phone, 960px) {
				width: 100% !important;
			}
		}

		.image {
			.modalAbv__image {
				background-position: center;

				@include media(960px) {
					height: 100vh !important;
				}
			}
		}
	}
}

.videoContainer {
	position: relative;
	padding-bottom: 78%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 2.3125rem;

	@include media(481px, 961px) {
		padding-bottom: 60%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.social-icon {
	display: inline-block;
}

.svg-social {
	height: 0.9375rem;
	width: 0.9375rem;
	background-size: 0.9375rem;
}

.fb-svg {
	background: url("../assets/svg/facebook.svg") no-repeat center center transparent;
	background-size: 0.9375rem;
}

.tw-svg {
	background: url("../assets/svg/twitter.svg") no-repeat center center transparent;
	background-size: 0.9375rem;
}

.ins-svg {
	background: url("../assets/svg/instagram.svg") no-repeat center center transparent;
	background-size: 0.9375rem;
}

.link-svg {
	background: url("../assets/svg/linkedin.svg") no-repeat center center transparent;
	background-size: 0.9375rem;
}
