/*!
Module Name: Our Goals
Author: Very - Andres Posada
*/

section.ourGoals {
	position: relative;

	.fullWidth_image {
		width: 100%;
		height: 0;
		padding: 0;
		padding-bottom: 35%;
		background-size: cover;
		background-size: 100% auto;
		background-repeat: no-repeat;

		@include media($phone, 768px) {
			background-size: cover;
			background-position: center;
			height: 37.5rem;
		}
	}
}
