/*!
Module Name: Our Co Chairs
Author: Very - Andres Posada
*/

// @import "./media"; // Custom reset & base settings.

section.our-co-chairs {
	color: var(--black);
	font-size: 1.125rem;
	padding: 6.5625rem 0 8.125rem;
	border-bottom: 1px solid var(--light-grey);
	margin-bottom: 2.5rem;

	@include media($phone, 944px) {
		padding: 1.875rem 0 0;
	}

	.heading {
		text-align: center;
		margin-bottom: 4.0625rem;

		@include media($phone, 944px) {
			margin-bottom: 2.8125rem;
		}

		h2 {
			font-size: 1.125rem;
			color: var(--light-black);
			letter-spacing: 0.0625rem;
			text-transform: uppercase;

			@include media($phone, 480px) {
				font-size: 1rem;
			}
		}
	}

	.cont-co-chairs {
		.coChair {
			text-align: center;

			@include media($phone, 944px) {
				margin-bottom: 3.125rem;
			}

			img {
				width: 100%;

				@include media($phone, 480px) {
					max-width: 14.0625rem;
				}

				@include media(481px, 944px) {
					max-width: 20rem;
				}
			}

			h3 {
				font-family: "Helvetica LT W01 Bold";
				font-size: 1.125rem;
				color: var(--light-black);
				letter-spacing: 0.010625rem;
				margin-bottom: 0.3125rem;
				margin-top: 0.8125rem;

				@include media($phone, 480px) {
					font-size: 1.25rem;
				}
			}

			span {
				font-family: "Helvetica LT W01 Roman";
				font-style: italic;
				font-size: 1rem;
				color: var(--light-black);
				letter-spacing: 0.01rem;

				@include media($phone, 480px) {
					font-size: 1.125rem;
				}
			}

			.learnMore {
				font-size: 1rem;
				color: var(--light-blue);
				letter-spacing: 0.01rem;
				text-decoration: underline;
				margin-top: 0.625rem;

				@include media($phone, 480px) {
					font-size: 1.125rem;
				}
			}
		}

		.first {
			max-width: 58.4375rem;
			width: 100%;
			margin: 0 auto 5.625rem;

			@include media($phone, 944px) {
				flex-direction: column;
				margin-bottom: 0;
			}

			@include media(945px, 1208px) {
				max-width: 100%;
			}

			.coChair {
				margin-left: auto;
				margin-right: auto;
				width: 18.125rem;

				@include media($phone, 480px) {
					width: 80%;
				}

				@include media(481px, 944px) {
					width: 80%;
					margin-bottom: 4.0625rem;
				}
			}
		}

		.second {
			max-width: 78.125rem;
			width: 100%;
			margin: 0 auto;

			@include media($phone, 944px) {
				flex-direction: column;
			}

			.coChair {
				margin-left: auto;
				margin-right: auto;
				width: 18.125rem;

				&:last-child {
					// margin-bottom: 2.5rem;

					@include media(945px, 1208px) {
						margin-top: 5.75rem;
						margin-bottom: 0;
					}
				}

				@include media($phone, 480px) {
					width: 80%;
				}

				@include media(481px, 944px) {
					width: 80%;
					margin-bottom: 4.0625rem;
				}
			}
		}
	}

	.social-icon {
		display: inline-block;
	}

	.svg-social {
		height: 0.9375rem;
		width: 0.9375rem;
		background-size: 0.9375rem;
	}

	.fb-svg {
		background: url("../assets/svg/facebook.svg") no-repeat center center transparent;
		background-size: 0.9375rem;
	}

	.tw-svg {
		background: url("../assets/svg/twitter.svg") no-repeat center center transparent;
		background-size: 0.9375rem;
	}

	.ins-svg {
		background: url("../assets/svg/instagram.svg") no-repeat center center transparent;
		background-size: 0.9375rem;
	}

	.link-svg {
		background: url("../assets/svg/linkedin.svg") no-repeat center center transparent;
		background-size: 0.9375rem;
	}
}

.modalAbv {
	background-color: var(--background-blue);

	.heading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;

		@include media($phone, 960px) {
			position: relative;
		}

		h3 {
			font-size: 2rem;
			font-weight: 400;
			color: var(--white);
			letter-spacing: -0.000625rem;
			text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);

			@include media($phone, 960px) {
				font-size: 1.125rem;
				color: var(--white);
				letter-spacing: 0.010625rem;
				margin-top: 2.0625rem;
				margin-bottom: 2.0625rem;
			}
		}
	}

	.modalAbv__container {
		@include media($phone, 960px) {
			flex-direction: column-reverse;
		}

		.text {
			width: 50%;
			align-self: flex-start;

			@include media($phone, 960px) {
				width: 100%;
			}

			.text__inner {
				width: 100%;
				padding-right: 20%;
				margin-top: 10rem;
				margin-bottom: 3.4375rem;

				@include media($phone, 960px) {
					margin-bottom: 0.625rem;
					margin-left: 0;
					margin-top: 2.5rem;
					width: 100%;
					padding: 0 1.25rem;
				}

				@include media(960px) {
					height: calc(100vh - 10rem);
					overflow-y: auto;
				}

				.subheading {
					font-size: 1.125rem;
					color: var(--white);
					letter-spacing: 0.010625rem;
					font-style: italic;
				}

				.socialMedia {
					span {
						font-size: 1.125rem;
						color: var(--white);
						letter-spacing: 0;
						line-height: 1.875rem;
						display: block;
						margin-bottom: 0.875rem;
					}

					.svg-social {
						width: 2rem;
						height: 2rem;
						background-size: 2rem 2rem;
						margin-bottom: 0.875rem;
					}
				}

				.social-icon {
					margin-right: 1.375rem;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.description {
				p {
					font-size: 1.5rem;
					color: var(--white);
					letter-spacing: 0.015625rem;
					line-height: 2rem;
					margin-top: 1.125rem;
					margin-bottom: 2.5rem;

					@include media($phone, 960px) {
						font-size: 1.125rem;
						letter-spacing: 0;
						line-height: 1.625rem;
						margin-top: 1.625rem;
					}
				}

				@include media($phone, 960px) {
					&.-desktop {
						display: none;
					}

					&.-mobile {
						display: block;
					}
				}

				@include media(960px) {
					&.-desktop {
						display: block;
					}

					&.-mobile {
						display: none;
					}
				}
			}
		}

		.image {
			width: 50%;
			align-self: flex-start;

			@media (max-width: 1199px) and (max-height: 767px) {
				align-self: flex-start;
			}

			@media (min-width: 1200px) and (min-height: 768px) {
				align-self: flex-start;
			}

			@include media($phone, 960px) {
				width: 100%;
			}

			.modalAbv__image {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				width: 100%;
				height: 100vh;

				@include media(960px) {
					min-height: 700px;
				}

				@include media($phone, 960px) {
					background-position: center top;

					&.-desktop {
						display: none;
					}

					&.-mobile {
						display: block;
					}
				}

				@include media($phone, 481px) {
					height: 0;
					padding-bottom: 100%;
				}

				@include media(481px, 769px) {
					height: 0;
					padding-bottom: 80%;
				}

				@include media(769px, 960px) {
					height: 0;
					padding-bottom: 90%;
				}

				@media (min-height: 1081px) {
					height: 59.375rem;
				}

				@include media(960px) {
					&.-desktop {
						display: block;
					}

					&.-mobile {
						display: none;
					}
				}
			}
		}
	}
}

.hiddenLink {
	position: absolute;
	height: 0;
	width: 0;
}

body {
	.fancybox-content {
		background-color: var(--background-blue);
		padding: 0 !important;
		width: 100%;
		min-height: 100vh;
	}

	.fancybox-slide {
		padding: 0 !important;
		overflow-y: hidden;

		@include media($phone, 960px) {
			overflow-y: scroll;
		}
	}

	.fancybox-close-small {
		left: 1.875rem;
		top: 2.1875rem !important;
		right: initial;
		color: var(--white) !important;
		opacity: 1;
		padding: 0.25rem !important;

		@include media($phone, 960px) {
			left: 0.625rem;
			top: 1.3125rem !important;
		}
	}

	.fancybox-close-small {
		@include media(960px, 1281px) {
			left: 0.625rem;
		}
	}
}
