/*!
Component Name: Header
Author: Very - Andres Posada
*/

.footer {
	background-color: var(--background-blue);

	.footer__container {
		max-width: 54.375rem;
		padding: 2.1875rem 1.25rem 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		.footer__heading {
			h2 {
				font-size: 3rem;
				font-weight: 400;
				color: var(--white);
				letter-spacing: 0.029375rem;
				margin-bottom: 1.875rem;

				@include media($phone, 768px) {
					font-size: 2rem;
					margin-bottom: 1.5rem;
				}
			}
		}

		.footer__subheading {
			margin-bottom: 1.875rem;

			@include media($phone, 768px) {
				margin-bottom: 1.5625rem;
			}

			span {
				font-size: 1rem;
				color: var(--white);
				letter-spacing: 0.01rem;

				@include media($phone, 768px) {
					font-size: 1rem;
				}
			}
		}

		input::placeholder {
			opacity: 0.5;
			font-size: 1rem;
			color: var(--white);
			letter-spacing: 0.01rem;
		}

		.contactUs {
			margin-top: 3.125rem;
			margin-bottom: 1.875rem;

			.contactUs__heading {
				color: var(--white);
				font-size: 1.3125rem;
				letter-spacing: 0;
				line-height: 1.875rem;

				@include media($phone, 480px) {
					font-size: 1.125rem;
				}
			}

			.contactUs__email {
				margin-top: 0.3125rem;

				a {
					color: var(--white);
					font-size: 1rem;
					letter-spacing: 0;
					text-decoration: underline;
					line-height: 1.875rem;
				}
			}

			.contactUs__social-media {
				margin: 3.875rem auto 3.4375rem;

				@include media($phone, 768px) {
					margin-top: 4.4375rem;
				}

				.social-icon {
					margin: 0 0.375rem;

					@include media($phone, 768px) {
						margin: 0 0.625rem;
					}

					.svg-social {
						background-size: 2rem;
						height: 2rem;
						width: 2rem;
					}
				}
			}
		}
	}

	.footerForm {
		form {
			display: inline-block;
			width: 100%;
			font-size: 0;

			p {
				display: inline-block;

				&:first-of-type {
					width: calc(100% - 72px);
					vertical-align: top;

					@include media($phone, 480px) {
						width: calc(100% - 42px);
					}
				}
			}

			input {
				line-height: 1em;
				border-bottom: 0.0625rem solid #fff;
				padding: 10px 0;
				border-top: none;
				border-left: none;
				border-right: none;
				background: transparent;
				display: inline-block;
				font-size: 0.9375rem;
				color: var(--white);
				height: 2.5rem;
				vertical-align: bottom;
				width: 100%;

				&:-webkit-autofill {
					box-shadow: 0 0 0 1000px var(--background-blue) inset;
					-webkit-text-fill-color: var(--white);
				}
			}

			input[type="submit"] {
				text-align: right;
				color: var(--white);
				font-size: 1rem;
				padding-right: 0;

				&:hover {
					cursor: pointer;
				}

				@include media($phone, 480px) {
					padding-left: 0.75rem;
				}
			}

			&.failed,
			&.aborted,
			&.invalid,
			&.unaccepted {
				.wpcf7-response-output {
					color: #ff0000;
					border: none;
					font-size: 1rem;
				}
			}

			&.sent {
				.wpcf7-response-output {
					color: var(--white);
					border: none !important;
					font-size: 1rem;
				}
			}

			.wpcf7-response-output {
				margin-top: 0;
			}
		}
	}

	.copyright {
		padding: 1.75rem 0 2rem;
		width: 100%;
		text-align: center;
		border-top: 1px solid var(--light-grey);

		@include media($phone, 768px) {
			padding: 1.75rem 1.875rem 2rem;
		}

		span {
			font-size: 0.875rem;
			color: var(--light-grey);
			letter-spacing: 0.00875rem;
		}
	}
}
