/*!
Component Name: Header
Author: Very - Andres Posada
*/

.header {
	background-color: transparent;
	height: 7rem;
	position: absolute;
	top: 0;
	width: 100%;
	transition: 0.3s all ease-out;

	.--menu-open & {
		position: fixed;
		top: 0;
		z-index: 999999999;
	}

	@include media($phone, 768px) {
		padding-top: 0.625rem;
	}

	.header__container {
		margin-left: auto;
		margin-right: auto;
		max-width: 85.625rem;
		width: 100%;

		@include media(768px, $header-desktop) {
			padding: 0 1.25rem;
		}

		.toggleMenu {
			transition: 0.1s transform linear;
			position: relative;
			background: 0;
			float: left;
			margin: 1rem 0;
			height: 1.25rem;
			width: 1.25rem;
			z-index: 9999;
			outline: 0;
			padding: 0;
			border: 0;

			@include media($phone, 768px) {
				left: 1.5rem;
			}

			&:hover {
				cursor: pointer;
			}

			&.--active {
				.toggleMenu__bar {
					background: 0;

					.home & {
						background: 0;
					}

					&::before {
						transform: rotate(45deg);
						width: 1.25rem;
					}

					&::after {
						transform: rotate(-45deg);
						width: 1.25rem;
					}

					&::before,
					&::after {
						top: 0;
					}

					&,
					&::before,
					&::after {
						transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
					}
				}
			}

			.toggleMenu__bar {
				&,
				&::before,
				&::after {
					transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
					position: absolute;
					background: var(--light-black);
					margin: auto;
					width: 100%;
					height: 2px;
					content: "";
					top: 50%;
					left: 0;

					.home & {
						background: var(--white);
					}
				}

				& {
					width: 1.375rem;
				}

				&::before {
					top: -0.45rem;
					width: 0.9375rem;
				}

				&::after {
					top: 0.45rem;
					width: 1.1875rem;
				}

				&::before,
				&::after {
					transform: rotate(0deg);
				}
			}
		}

		.menuHeader {
			width: 100%;
			height: 100vh;
			background-color: var(--background-blue);
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0;
			transition: visibility 0.3s, opacity 0.3s linear;
			padding-top: 8rem;
			z-index: -1;
			visibility: hidden;

			.--menu-open & {
				opacity: 1;
				visibility: visible;
			}

			@include media($phone, 768px) {
				padding-top: 13.5rem;
			}

			@include media(768px, 1200px) {
				padding-top: 11rem;
			}

			.menuHeader__container {
				max-width: 80.625rem;
				margin-left: auto;
				margin-right: auto;
				padding: 0 1.25rem;
			}

			.image {
				width: 58%;

				@include media($phone, 768px) {
					display: none;
				}

				img {
					max-width: 100%;
					width: 100%;
				}
			}

			ul {
				margin: 0;
				list-style: none;
				padding: 0;
			}

			li {
				padding: 1.25rem 0;
				font-size: 2rem;

				@include media($phone, 768px) {
					padding: 0.7rem 0;
				}

				&:first-of-type {
					padding-top: 0;
				}

				a {
					font-family: "Red Rose", cursive;
					font-size: 3rem;
					color: var(--white);
					letter-spacing: 0.029375rem;
					line-height: 1.625rem;

					@include media($phone, 768px) {
						font-size: 2rem;
						letter-spacing: -0.05rem;
						line-height: 2.375rem;
					}
				}
			}
		}

		.contTopHeading {
			margin-left: 26%;
			margin-right: auto;

			@include media(1200px, $header-desktop) {
				margin-left: 22%;
				margin-right: auto;
			}

			@include media(768px, 1199px) {
				margin-left: auto;
				margin-right: auto;
			}

			@include media($phone, 768px) {
				max-width: 13.75rem;
				margin-left: auto;
			}

			.topHeading {
				@include media($phone, 1199px) {
					margin-right: 1.25rem;
				}
			}

			h1 {
				font-family: "Red Rose";
				font-weight: 400;
				font-size: 2rem;
				color: var(--light-blue);
				text-align: center;

				@include media($phone, 768px) {
					font-size: 1.125rem;
					line-height: 1.5625rem;
				}
			}
		}

		.buttonsHeader {
			width: 15.9375rem;
			transition: 0.4s all linear;

			.--menu-open & {
				@include media($phone, 768px) {
					margin-left: 1.25rem;
					margin-right: 1.25rem;
				}
			}

			@include media($phone, 768px) {
				margin-top: 0.75rem;
			}

			@include media(768px, 1200px) {
				width: 100%;
				justify-content: center;
			}

			@include media($phone, 768px) {
				width: 100%;
				justify-content: center;

				.--menu-open & {
					justify-content: space-between;
				}
			}

			.cta {
				border-radius: 1.875rem;
				text-align: center;
				padding: 1rem 0;
				width: 7.5rem;
				background-color: var(--dark-blue-btn);

				@include media($phone, 768px) {
					width: 50%;
					border-radius: 0;
					padding: 1.3125rem 0;
				}

				@include media(768px, 1200px) {
					margin: 0 0.9375rem;
				}

				.--menu-open & {
					@include media($phone, 768px) {
						width: 48.8%;
					}
				}

				&.cta--darkblue {
					background-color: var(--dark-blue-btn);
				}

				&.cta--lightblue {
					background-color: var(--light-blue);
				}

				.cta__btn {
					font-size: 1rem;
					color: var(--white);
					letter-spacing: 0.00625rem;
					line-height: 1rem;
				}
			}
		}
	}
}
