/*!
Module Name: Hero Home
Author: Very - Andres Posada
*/

// @import "./media"; // Custom reset & base settings.

section.hero {
	background-color: var(--main-blue);
	color: var(--white);
	text-align: center;
	padding-top: 9.375rem;

	.heading {
		max-width: 61.5625rem;
		margin: 0 auto;

		p {
			font-size: 3.125rem;
			line-height: 1.2;
		}
	}

	.paragraph {
		max-width: 47.8125rem;
		margin: 0 auto;

		p {
			font-size: 1.875rem;
			line-height: 1.1;
		}
	}
}
